[Unit]
Description=PhantomKernel Update Service
After=phantomkernel-airlockd.service

[Service]
Type=oneshot
User=phantomkernel
ExecStart=/usr/bin/phantomkernel-updated

[Install]
WantedBy=phantomkernel.target

