#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release --workspace

override_dh_auto_install:
	# Install binaries for each package
	mkdir -p debian/specteros-init/usr/bin
	install -m 755 target/release/specteros-init debian/specteros-init/usr/bin/

	mkdir -p debian/specteros-policyd/usr/bin
	install -m 755 target/release/specteros-policyd debian/specteros-policyd/usr/bin/

	mkdir -p debian/specteros-shardd/usr/bin
	install -m 755 target/release/specteros-shardd debian/specteros-shardd/usr/bin/

	mkdir -p debian/specteros-netd/usr/bin
	install -m 755 target/release/specteros-netd debian/specteros-netd/usr/bin/

	mkdir -p debian/specteros-airlockd/usr/bin
	install -m 755 target/release/specteros-airlockd debian/specteros-airlockd/usr/bin/

	mkdir -p debian/specteros-auditd/usr/bin
	install -m 755 target/release/specteros-auditd debian/specteros-auditd/usr/bin/

	mkdir -p debian/specteros-guardian/usr/bin
	install -m 755 target/release/specteros-guardian debian/specteros-guardian/usr/bin/

	mkdir -p debian/specteros-updated/usr/bin
	install -m 755 target/release/specteros-updated debian/specteros-updated/usr/bin/

	mkdir -p debian/gkctl/usr/bin
	install -m 755 target/release/gkctl debian/gkctl/usr/bin/
